{% extends 'demo/base.html' %}
{% block title %} Update {% endblock %}

{% block content %}
<div class="container-fluid .mt-5">
  <div class="mx-auto">
    <div class="table-responsive table-primary" >
    <table class="table" style="text-align:center">
    <thead>
      <tr class="bg-primary">
          <th scope="col" colspan="7">
              <input class="form-control" type="text" name="name" value="{{form.lab_name}}">
          </th>
          <th scope="col" colspan="2">
            <input type="text" name="sys" class="form-control" value="{{form.systems}}">
          </th>
        </tr>
        <tr class="bg-primary">
          <th>Day/Period</th>
          <th>I<br/>9:30-10:30</th>
          <th>I<br/>9:30-10:30</th>
          <th>I<br/>9:30-10:30</th>
          <th>I<br/>9:30-10:30</th>
          <th>I<br/>9:30-10:30</th>
          <th>I<br/>9:30-10:30</th>
          <th>I<br/>9:30-10:30</th>
          <th>I<br/>9:30-10:30</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Monday</th>
          <td class="table-primary"></td>
          <td colspan="3" class="table-primary">
            <input class="form-control" type="text" name="m1" value="{{form.monm}}">
          </td>
          <td class="table-primary">
              <input class="form-control" type="text" name="e1" value="{{form.mone}}">
          </td>
          <td colspan="3" class="table-primary">
          </td>
        </tr>
        <tr >
          <tr class="table-primary">
            <th scope="row" class="bg-primary">Tuesday</th>
            <td class="table-primary"></td>
            <td colspan="3" class="table-primary">
              <input class="form-control" type="text" name="m2" value="{{form.tuem}}">
            </td>
            <td class="table-primary">
                <input class="form-control" type="text" name="e2" value="{{form.tuee}}">
            </td>
            <td colspan="3" class="table-primary">
            </td>
          </tr>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Wednesday</th>
          <td class="table-primary"></td>
          <td colspan="3" class="table-primary">
            <input class="form-control" type="text" name="m3" value="{{form.wedm}}">
          </td>
          <td class="table-primary">
              <input class="form-control" type="text" name="e3" value="{{form.wede}}">
          </td>
          <td colspan="3" class="table-primary">
          </td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Thursday</th>
          <td class="table-primary"></td>
          <td colspan="3" class="table-primary">
            <input class="form-control" type="text" name="m4" value="{{form.thum}}">
          </td>
          <td class="table-primary">
              <input class="form-control" type="text" name="e4" value="{{form.thue}}">
          </td>
          <td colspan="3" class="table-primary">
          </td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Friday</th>
          <td class="table-primary"></td>
          <td colspan="3" class="table-primary">
            <input class="form-control" type="text" name="m5" value="{{form.frim}}">
          </td>
          <td class="table-primary">
              <input class="form-control" type="text" name="e5" value="{{form.frie}}">
          </td>
          <td colspan="3" class="table-primary">
          </td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Saturday</th>
          <td class="table-primary"></td>
          <td colspan="3" class="table-primary">
            <input class="form-control" type="text" name="m6" value="{{form.satm}}">
          </td>
          <td class="table-primary">
              <input class="form-control" type="text" name="e6" value="{{form.sate}}">
          </td>
          <td colspan="3" class="table-primary">
          </td>
        </tr>
      </tbody>
      <div class="col-md-4">
        <input type="submit" class="btn btn-info text-center" value="Update">
      </div>
    </table>
    </div>
  </div>
</div>
{% endblock %}
