{% extends 'demo/base.html' %}
{% block title %} Search for vacancy {% endblock %}

{% block content %}
<form class="form jumbotron col-md-6 mx-auto mt-5  shadow-lg" style="background:white" action="{% url 'search' %}" method="POST">
  {% csrf_token %}
    <div class="row form-group">
      <div class="col-3">
        <label for="labname">Choose Lab</label>
      </div>
      <div class="col-6">
        <select class="custom-select form-control" name="lab">
        {% for form in forms %}
          <option value="{{form.id}}">{{form.lab_name}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="day">Choose day</label>
      </div>
      <div class="col-6">
        <select class="custom-select form-control" name="day">
          <option value="mon">Monday</option>
          <option value="tue">Tuesday</option>
          <option value="wed">Wednesday</option>
          <option value="thu">Thursday</option>
          <option value="fri">Friday</option>
          <option value="sat">Saturday</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="day">Choose Session</label>
      </div>
      <div class="col-6">
        <select class="custom-select form-control" name="session">
          <option value="m">Morning</option>
          <option value="e">Afternoon</option>
        </select>
      </div>
    </div>
<div class="" style="text-align:center">
  <button type="submit" class="cl-md-4 btn mx-auto btn-success">Check Availability</button>
</div>

</form>
{% if no %}
<script>
    alert('Lab is vacant');
</script>
{% elif msg %}
<script>
    alert('Lab is occupied by {{ msg }}');
</script>

{% endif %}
{% endblock %}
