{% extends 'demo/base.html' %}
{% block title %} {{form.lab_name}} {% endblock %}

{% block content %}
<div class="container-fluid .mt-5">
  <div class="mx-auto">
    <div class="table-responsive table-primary" >
    <table class="table" style="text-align:center">
    <thead>
      <tr class="bg-primary">
          <th scope="col" colspan="2">
              LAB NAME: {{form.lab_name}}
          </th>
          <th scope="col" colspan="1">
            NO. OF SYSTEMS: {{form.systems}}
          </th>
        </tr>
        <tr class="bg-primary">
          <th>Day</th>
          <th>Morning<br/>9:30-12:30</th>
          <th>Evening<br/>1:30-4:30</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Monday</th>
          <td class="table-primary">
            {{form.monm}}
          </td>
          <td class="table-primary">
            {{form.mone}}
          </td>

        </tr>
        <tr >
          <tr class="table-primary">
            <th scope="row" class="bg-primary">Tuesday</th>
            <td class="table-primary">
              {{form.tuem}}
            </td>
            <td class="table-primary">
                {{form.tuee}}
            </td>
          </tr>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Wednesday</th>
          <td class="table-primary">
            {{form.wedm}}
          </td>
          <td class="table-primary">
              {{form.wede}}
          </td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Thursday</th>

          <td class="table-primary">
            {{form.thum}}
          </td>
          <td class="table-primary">
              {{form.thue}}
          </td>

        </tr>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Friday</th>
          <td class="table-primary">
            {{form.frim}}
          </td>
          <td class="table-primary">
            {{form.frie}}
          </td>
        </tr>
        <tr class="table-primary">
          <th scope="row" class="bg-primary">Saturday</th>
          <td class="table-primary">
            {{form.satm}}
          </td>
          <td class="table-primary">
            {{form.sate}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
<br>
<div class="d-flex justify-content-around mb-3">
  <div class="p-2">
    <form class="form" action="{% url 'update' form.id %}" method="post">
      {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="button">UPDATE</button>
    </form>
  </div>
  <br>
  <div class="p-2">
    <form class="form" action="{% url 'delete' form.id %}" method="post">
      {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="button">DELETE</button>
        </form>
  </div>
</div>

{% endblock %}
